@model AssetManagementWeb.Models.ViewModel.ViewAssetsUserViewModel

@{
    Layout = null;
}

<div class="modal fade" id="ViewAsset" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Asset Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-user">
                                <div class="card-header">
                                    <h5 class="card-title">Asset Details</h5>
                                </div>
                                <div class="card-body">
                                    <input name="IsValid" type="hidden"
                                        value="@ViewData.ModelState.IsValid.ToString()" />
                                    <div class="row">
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.HostName">HostName</label>
                                                <input asp-for="AssetsDTO.HostName" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.AssetNo">AssetNo</label>
                                                <input asp-for="AssetsDTO.AssetNo" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.SerialNo">SerialNo</label>
                                                <input asp-for="AssetsDTO.SerialNo" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-3 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.ExpressCode">ExpressCode</label>
                                                <input asp-for="AssetsDTO.ExpressCode" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.Brand">Brand</label>
                                                <input asp-for="AssetsDTO.Brand" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.Model">Model</label>
                                                <input asp-for="AssetsDTO.Model" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.Type">Type</label>
                                                <input asp-for="AssetsDTO.Type" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.Status">Status</label>
                                                <input asp-for="AssetsDTO.Status" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.Location">Location</label>
                                                <input asp-for="AssetsDTO.Location" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.IsAvailable">IsAvailable</label>
                                                <input asp-for="AssetsDTO.IsAvailable" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="AssetsDTO.Remarks"></label>
                                                <textarea asp-for="AssetsDTO.Remarks" class="form-control textarea"
                                                    disabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="table-responsive table-wrapper">
                                                    @{
                                                        var counterUser = 1;
                                                    }
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <tr>
                                                                <th>
                                                                    S/N
                                                                </th>
                                                                <th>
                                                                    Display Name
                                                                </th>
                                                                <th>
                                                                    Department
                                                                </th>
                                                                <th>
                                                                    Issued On
                                                                </th>
                                                                <th>
                                                                    Returned On
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.UserAssets)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @counterUser
                                                                    </td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.UserStaff.DisplayName)</td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.UserStaff.Department)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.IssuedOn)</td>
                                                                    @if (item.ReturnedOn == DateTime.MinValue)
                                                                    {
                                                                        <td>NIL</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>@Html.DisplayFor(modelItem => item.ReturnedOn)</td>
                                                                    }
                                                                </tr>
                                                                counterUser++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="update ml-auto mr-auto p-2">
                                            <button type="button" class="btn btn-danger btn-fill btn-wd"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>