@model IEnumerable<AssetsDTO>

<div class="col-md-6">
    <div class="card ">
        <div class="card-header">
            <h5 class="card-title">UnAssigned Asset Users</h5>
            <p class="card-category">Summary List of UnAssigned Assets to Users</p>
        </div>    
        <div class="card-body">
            <div class="table table-wrapper table-responsive table-hover">
                @{
                    var counterUser = 1;
                }
                <table class="table">
                    <thead class="table-secondary text-primary">
                        <tr>                            
                            <th>
                                S/N
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Type
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {                        
                            @if(item.Type.Equals("Laptop"))
                            {
                                <tr class="text-primary">
                                    <td>
                                        @counterUser
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                </tr>
                            }
                            @if(item.Type.Equals("Server"))
                            {
                                <tr class="text-danger">
                                    <td>
                                        @counterUser
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                </tr>
                            }
                            @if(item.Type.Equals("Monitor"))
                            {                           
                                <tr class="text-warning">
                                    <td>
                                        @counterUser
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                </tr>
                            }                                                
                            counterUser++;
                        }
                    </tbody>
                </table>
            </div> 
        </div>
        <div class="card-footer ">
            <div class="legend">
                <i class="fa fa-circle text-primary"></i> Laptop
                <i class="fa fa-circle text-danger"></i> Server
                <i class="fa fa-circle text-warning"></i> Monitor
            </div>
            <hr>
            <div class="stats">
                <i class="nc-icon nc-laptop"></i> Total Count: @ViewBag.TotalUnAssignedAssetsCount
            </div>
        </div>
    </div>
</div>