@* @model IEnumerable<AssetManagementWeb.Models.DTO.LicenseDTO> *@
@model AssetManagementWeb.Helper.PaginatedList<AssetManagementWeb.Models.DTO.LicenseDTO>

@{
    ViewData["Title"] = "Assets Page";
    Layout = "_Layout";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header form-inline">
                    <a type="button" class="btn btn-secondary" href="#" onclick="CreateLicenseModal()">
                        <i class="nc-icon nc-simple-add"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="table table-responsive table-hover">
                        @{
                            var counterUser = 1;
                        }
                        <table class="table">
                            <thead class="table-secondary text-primary">
                                <tr>
                                    <th>
                                        S/N
                                    </th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Product Version
                                    </th>
                                    <th>
                                        Expiration
                                    </th>
                                    <th>
                                        Availability
                                    </th>
                                    <th>
                                        Assigned
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @counterUser
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ProductVersion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Expiration)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IsAvailable)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IsAssigned)</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-secondary btn-sm dropdown-t" type="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    . . .
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#" data-target="#ViewLicense"
                                                        onclick="viewLicenseDetails('@item.Id')">View</a>
                                                    <a class="dropdown-item" href="#" data-target="#UpdateAsset"
                                                        onclick="UpdateLicenseModal('@item.Id')">Update</a>
                                                    @if (item.IsAvailable.Equals("Yes") && item.IsAssigned.Equals("No"))
                                                    {
                                                        <a class="dropdown-item" href="#" data-target="#AssignLicenseUser"
                                                            onclick="viewAssignLicenseUser('@item.Id')">Assign User</a>
                                                    }
                                                    @if (item.IsAvailable.Equals("Yes") && item.IsAssigned.Equals("No"))
                                                    {
                                                        <a class="dropdown-item" href="#" data-target="#AssignLicenseUser"
                                                            onclick="viewAssignLicenseAsset('@item.Id')">Assign Assets</a>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    counterUser++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            var counterPage = Model.PageIndex;
            var lastPage = Model.TotalPages;
        }

        <a asp-controller="Assets" asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-default @prevDisabled">
            Previous
        </a>

        <span>
            <label>Page @counterPage of @lastPage</label>
        </span>

        <a asp-controller="Assets" asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>


@* Placeholder for the Modal View *@
<div id="ModalPlaceholder"></div>

<!-- Modal for Errors-->
<div class="modal fade" id="errorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="ErrorModal" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-danger" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <label class="modal-title h6" id="errorHeaderLabel" />
            </div>

            <div class="modal-body">
                <label id="errorBodyLabel" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal for Success-->
<div class="modal fade" id="successModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="SuccessModal" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-success" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <label class="modal-title h6" id="successHeaderLabel" />
            </div>

            <div class="modal-body">
                <label id="successBodyLabel" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    onclick="realoadLicensePage()">OK</button>
            </div>

        </div>
    </div>
</div>
