@model AssetManagementWeb.Models.ViewModel.ViewLicenseUserViewModel

@{
    Layout = null;
}

<div class="modal fade" id="ViewLicense" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View License Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-user">
                                <div class="card-header">
                                    <h5 class="card-title">License Details</h5>
                                </div>
                                <div class="card-body">
                                    <input name="IsValid" type="hidden"
                                        value="@ViewData.ModelState.IsValid.ToString()" />
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="LicenseDTO.ProductName">ProductName</label>
                                                <input asp-for="LicenseDTO.ProductName" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="LicenseDTO.ProductVersion">ProductVersion</label>
                                                <input asp-for="LicenseDTO.ProductVersion" class="form-control"
                                                    disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label asp-for="LicenseDTO.LicenseKey">LicenseKey</label>
                                                    <input asp-for="LicenseDTO.LicenseKey" class="form-control"
                                                        disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="LicenseDTO.Expiration">Expiration</label>
                                                <input asp-for="LicenseDTO.Expiration" class="form-control" disabled>
                                            </div>
                                        </div>
                                        @if (!Model.LicenseDTO.Expiration.Equals("No"))
                                        {
                                            <div class="col-md-4 pr-1">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label asp-for="LicenseDTO.ExpiredOn">Expiration</label>
                                                        <input id="expiration" asp-for="LicenseDTO.ExpiredOn"
                                                            class="form-control" type="date" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label asp-for="LicenseDTO.IsAssigned">IsAssigned</label>
                                                <input asp-for="LicenseDTO.IsAssigned" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="LicenseDTO.Remarks"></label>
                                                <textarea asp-for="LicenseDTO.Remarks" class="form-control textarea"
                                                    disabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="card-title mt-3">
                                                    <h6>User Staff</h6>
                                                </label>
                                                <div class="table-responsive table-wrapper">
                                                    @{
                                                        var counterAssets = 1;
                                                    }
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <tr>
                                                                <th>
                                                                    S/N
                                                                </th>
                                                                <th>
                                                                    DisplayName
                                                                </th>
                                                                <th>
                                                                    Department
                                                                </th>
                                                                <th>
                                                                    Location
                                                                </th>
                                                                <th>
                                                                    Is Active
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.UserLicenses)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @counterAssets
                                                                    </td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.UserStaff.DisplayName)</td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.UserStaff.Department)</td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.UserStaff.Location)</td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.IsActive)</td>
                                                                </tr>
                                                                counterAssets++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="card-title mt-3">
                                                    <h6>Assets </h6>
                                                </label>
                                                <div class="table-responsive table-wrapper">
                                                    @{
                                                        var counterLicense = 1;
                                                    }
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <tr>
                                                                <th>
                                                                    S/N
                                                                </th>
                                                                <th>
                                                                    Asset No
                                                                </th>
                                                                <th>
                                                                    Serial No
                                                                </th>
                                                                <th>
                                                                    Type
                                                                </th>
                                                                <th>
                                                                    Brand
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.AssetsLicenses)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @counterLicense
                                                                    </td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.Asset.AssetNo)</td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.Asset.SerialNo)</td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.Asset.Type)</td>
                                                                    <td>@Html.DisplayFor(modelItem =>
                                                                    item.Asset.Brand)</td>
                                                                </tr>
                                                                counterLicense++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="update ml-auto mr-auto p-2">
                                            <button type="button" class="btn btn-danger btn-fill btn-wd"
                                                data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>